* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);
  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  background-image: url(../images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.container {
  max-width: 1300px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-blue);
}

p {
  color: var(--dark-grayish-blue);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 3rem;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  margin-left: 30px;
  color: var(--dark-blue);
}

header a {
  text-decoration: none;
}

.start-btn {
  background: var(--bright-red);
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

/* Intro */
.intro {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-block: 5rem;
}

.intro-heading {
  color: var(--dark-blue);
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

.intro-text {
  color: var(--dark-grayish-blue);
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
}

.intro-item {
  width: 500px;
  justify-self: center;
}

.intro-item2 {
  justify-self: end;
}

/* About */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  /* align-items: center; */
  justify-content: center;
  margin-block: 5rem;
}

.about h1,
h2 {
  margin-bottom: 1rem;
}

.about p {
  margin-bottom: 2rem;
}

.about-box1 {
  width: 400px;
}

.about-box1 h1 {
  font-size: 2rem;
}

.about-items {
  display: flex;
}

.about-items span {
  /* background: var(--bright-red); */
  margin-right: 30px;
}

/* Testimonials */
.testimonials {
  margin-block: 5rem;
}

.testimonials-heading {
  font-size: 2rem;
  text-align: center;
}

.testimonial-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.testimonial-container div {
  background: var(--very-light-gray);
  text-align: center;
  padding: 1rem;
  margin-block: 3rem;
}

.testimonial-container div img {
  width: 60px;
  height: 60px;
}

.testimonials .start-btn {
  display: block;
  max-width: 140px;
  margin: auto;
}

/* Simplify */
.simplify {
  background: var(--bright-red);
  background-image: url(../images/bg-simplify-section-desktop.svg);
  height: 200px;
}

.simplify-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 3.5rem;
}

.simplify h1 {
  color: #fff;
  font-size: 2rem;
}

.white-btn {
  background: #fff;
  border-radius: 20px;
  color: var(--bright-red);
  padding: 10px 20px;
  text-decoration: none;
}
